<!-- <div class="pie_chart col-lg-2 col-md-4 col-sm-4 col-xs-6">
  <div class="row">
    <div class="pie-chart-usage" data-used="{% widthratio 33 100 100 %}"></div>
  </div>
  <div class="row"> -->
    <!-- <div class="pie-chart-usage" data-used="{% widthratio 50 100 100 %}"></div> -->
    <div style="width: 500px; min-width: 100px; height: 200px; min-height: 20px">
      <div class="chart"
        data-chart-type="bar_chart"
        data-tooltip-used='Used'
        data-tooltip-free='Free'
        data-tooltip-average='Average'
        data-settings='{"orientation": "horizontal"}'
        data-used=[
                    {"tooltip_used": "1", "used_instances": "5"},
                    {"tooltip_used": "2", "used_instances": "50"},
                    {"tooltip_used": "3", "used_instances": "100"},
                  ]
        data-average="30">
      </div>
    <!-- </div>
  </div>
</div> -->
